.waves {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  opacity: 0.8;
}

.wave {
  animation: wave 8s ease-in-out infinite;
  transform-origin: center;
}

.wave1 {
  animation: wave 8s ease-in-out infinite;
}

.wave2 {
  animation: wave 8s ease-in-out infinite 0.5s;
}

.wave3 {
  animation: wave 8s ease-in-out infinite 1s;
}

@keyframes wave {
  0% {
    d: path('M0,50 Q300,0 600,50 T1200,50 L1200,120 L0,120 Z');
  }

  25% {
    d: path('M0,40 Q300,20 600,40 T1200,40 L1200,120 L0,120 Z');
  }

  50% {
    d: path('M0,60 Q300,10 600,60 T1200,60 L1200,120 L0,120 Z');
  }

  75% {
    d: path('M0,35 Q300,25 600,35 T1200,35 L1200,120 L0,120 Z');
  }

  100% {
    d: path('M0,50 Q300,0 600,50 T1200,50 L1200,120 L0,120 Z');
  }
}